<form [formGroup]="formCliente" >
    
  <mat-form-field class="example-full-width"  hideRequiredMarker>
        <input matInput placeholder="Nome"  name="nome" formControlName="nome" [(ngModel)]="example.nome" required >
      </mat-form-field>
      <mat-form-field class="example-full-width">
      <input matInput placeholder="Data de nascimento" name= "dataNascimento"formControlName = "dataNascimento" [(ngModel)]="example.dataNascimento" required>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Rua" name= "rua" formControlName  = "rua" [(ngModel)]="example.rua">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Número" name="numero" formControlName="numero" [(ngModel)]="example.numero" required>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Bairro" name="bairro" formControlName="bairro" [(ngModel)]="example.bairro" required>
      </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>UF</mat-label>
      <select matNativeControl required formControlName="uf">
        <option value="rj">RJ</option>
        <option value="ce">CE</option>
        <option value="sp">SP</option>
        <option value="pi">PI</option>
      </select>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Cidade" name="cidade" formControlName="cidade" [(ngModel)]="example.cidade" required>
      </mat-form-field>
    
    <section class="example-section">
        <mat-checkbox class="example-margin" >Ativo</mat-checkbox>
      </section>
    
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Normal</mat-radio-button>
        <mat-radio-button value="1">Gold</mat-radio-button>
        <mat-radio-button value="2">Platinum</mat-radio-button>
      </mat-radio-group>
    


            
<button (click)="addElement()">adicionar cliente</button>
</form>
<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource">

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- nome Column -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
    </ng-container>

    <!-- bairro Column -->
    <ng-container matColumnDef="bairro">
      <mat-header-cell *matHeaderCellDef> Bairro </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.bairro}} </mat-cell>
    </ng-container>

    <!-- numero Column -->
    <ng-container matColumnDef="numero">
      <mat-header-cell *matHeaderCellDef> Número </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.numero}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-form-field appearance="standard">
    <mat-label>Procurar cliente</mat-label>
    <input matInput (keyup)="procurarCliente($event)" placeholder="Ex. Norgana" #input>
  </mat-form-field>
</div>
